<div class="card-group" >
    <div class="card" style="background-color:rgb(193, 200, 201); border-color:rgb(29, 29, 31);">
        <img class="card-img-top" data-src="holder.js/100x180/" alt="Card image cap" src="../../../assets/cat-chow.jpg" alt="" style="width: 40%; height: 40%;">
        <div class="card-body">
            <h4 class="card-title">CAT-CHOW</h4>
            <p class="card-text">Text</p>
        </div>
    </div>
    <div class="card" style="background-color:rgb(193, 200, 201); border-color:rgb(29, 29, 31);">
        <img class="card-img-top" data-src="holder.js/100x180/" alt="Card image cap" src="../../../assets/dog-chow.jpg" alt="" style="width: 50%; height: 40%;">
        <div class="card-body">
            <h4 class="card-title">DOG-CHOW</h4>
            <p class="card-text">Text</p>
        </div>
    </div>
    <div class="card" style="background-color:rgb(193, 200, 201); border-color:rgb(29, 29, 31);">
        <img class="card-img-top" data-src="holder.js/100x180/" alt="Card image cap" src="../../../assets/whiskas.jpg" alt="" style="width: 45%; height: 40%;">
        <div class="card-body">
            <h4 class="card-title">WHISKAS</h4>
            <p class="card-text">Text</p>
        </div>
    </div>
</div>
<div class="card-group" >
    <div class="card" style="background-color:rgb(193, 200, 201); border-color:rgb(29, 29, 31);">
        <img class="card-img-top" data-src="holder.js/100x180/" alt="Card image cap" src="../../../assets/premium-cat.jpeg" alt="" style="width: 50%; height: 40%;">
        <div class="card-body">
            <h4 class="card-title">PREMIUM-CAT</h4>
            <p class="card-text">Text</p>
        </div>
    </div>
    <div class="card" style="background-color:rgb(193, 200, 201); border-color:rgb(29, 29, 31);">
        <img class="card-img-top" data-src="holder.js/100x180/" alt="Card image cap" src="../../../assets/premium-dog.jpg" alt="" style="width: 50%; height: 40%;">
        <div class="card-body">
            <h4 class="card-title">PREMIUM-DOG</h4>
            <p class="card-text">Text</p>
        </div>
    </div>
    <div class="card" style="background-color:rgb(193, 200, 201); border-color:rgb(29, 29, 31);">
        <img class="card-img-top" data-src="holder.js/100x180/" alt="Card image cap" src="../../../assets/pedigree.jpg" alt="" style="width: 45%; height: 40%;">
        <div class="card-body">
            <h4 class="card-title">PEDIGREE</h4>
            <p class="card-text">Text</p>
        </div>
    </div>
</div>
